// copied these from w3school mostly
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
  // only because of requirements not predicting more buttons
  width: 110px;
}
